
// SASS variables
// Set once, propagate changes everywhere
$header_font_stack: "Titillium Web", "Arial", "sans-serif";
$content_font_stack: "Open Sans Condensed", "Arial", "sans-serif";
$inverted_color: #F0F3F5;

body {
    padding: 0;
    margin: 0;
    //-webkit-font-smoothing: antialiased;
    //-moz-osx-font-smoothing: grayscale;
    //-webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
    text-shadow: #010065 0 1px 1px;


    h1, h2, h3, h4, h5, h6 {
        font-family: $header_font_stack;
        //font-style: italic;
        font-weight: 200;
        text-align: center;
        color: #151E3F;
    }
    h1 {
        font-size: 9vw;
        @media all and (min-width: 750px) {
          font-size: 60px;
        }
    }
    h2 {
        font-size: 7vw;
        @media all and (min-width: 750px) {
          font-size: 56px;
        }
    }
    h3 {
        font-size: 6vw;
        @media all and (min-width: 750px) {
          font-size: 48px;
        }
    }
    h4 {
        font-size: 5vw;
        @media all and (min-width: 750px) {
          //font-size: 60px;
        }
    }
    h5 {
        font-size: 4vw;
        @media all and (min-width: 750px) {
          font-size: 32px;
        }
    }
    h6 {
        font-size: 3vw;
        @media all and (min-width: 750px) {
          font-size: 24px;
        }
    }
    p, form {
        font-family: $content_font_stack;
        font-size: 3vw;
        color: #030027;
        @media all and (min-width: 750px) {
          font-size: 24px;
        }
    }
    hr {
        margin: 4vh 0;
    }
}

.section {
    margin-top: 20vh;
    @media all and (max-width: 690px) {
    margin-top: 10vh;
    }
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
}

//#outer_container {
//    width: 95vw;
//    margin: auto auto;
//}




#top_area_container {
    width: 100%;
    height: 50vh;
    @media all and (min-width: 750px) {
      height: 420px;
    }

    //-webkit-border-radius: 2vw;
    //-moz-border-radius: 2vw;
    //border-radius: 1vw;
    border: none;
    background-color: rgba(3, 0, 39, 1);
    background-repeat: no-repeat;
    background-size: 100%;

    h1, h3 {
        text-align: center;
        margin: 1vh 0;
        //padding-left: 6vw;
        line-height: 1.1;
        color: #F2F3D9;
        text-shadow: #F2F3D9 0 1px 1px;
    }
    h1:nth-child(1) {
        //padding-top: 4vh;
    }

    h3 {
        margin-top: 2vh;
    }
    .transparency {
        position: relative;
        top: 5vh;
        //background: rgba(0, 0, 0, .6);
        padding: 4vh auto 0 auto;
        margin: 0 auto 0 auto;
        //float: right;
        min-height: 160px;
        width: 90vw;
        height: 40vw;

    }
}


.portfolio_item {

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2vw;

    h3, h5 {
        text-align: left;
    }
    h3 {
        //margin-top: 8vh;
        margin-top: 1vh;
        margin-bottom: 0;
    }
    h5 {
        font-style: italic;
        margin: 0 0;
    }

    img {
        //float: right;
        //position: relative;
        //top: 3vh;
        //left: 1vw;
        //padding: .8vh;
        //margin-bottom: 4vh;
        margin-top: 1vh;
        width: 33vw;
        border: 1px solid #DC9E82;
        grid-column: 2 / 3;
    }
    .text_description {
        grid-column: 1 / 2;
    }
}

#work_experience_container {
    background-color: #030027;
    padding: 1vh 4vw 4vh 4vw;
    h3 {
        text-align: left;
        margin: 0 0;
    }
    h2, h3, p {
        color: #F2F3D9;
    }
}

#contact_me_container {
    h2 {
        margin-bottom: 2vh;
    }
    h6 {
      margin-top: 0;
    }
    form {
        display: grid;
        grid-template-columns: 15vw 1fr;
        grid-gap: 2vw;
        width: 80vw;
        max-width: 660px; // As usual, needed to restrict a full width to get the centering to look right
        margin: 0 auto;
        @media all and (min-width: 750px) {
            grid-template-columns: 130px 500px;
            grid-column-gap: 14px;
            //margin-left: 20vw;

        }
    }
    label {
        grid-column: 1 / 2;
    }
    input, textarea, button {
        grid-column: 2 / 3;
    }
    input, textarea {
        @media all and (min-width: 750px) {
            width: 500px;
            margin: 0 auto;
        }
    }
    button {
        font-weight: 700;
        padding: 2vh 0 2vh 0;
        //border: 2px solid #C16E70;
        border: none;
        background-color: #C16E70;
        color: #F2F3D9;
        margin: 0 15vw;
        &:hover {
            //border: 2px solid #DC9E82;
            background-color: #DC9E82;
            border: none;
            color: #F2F3D9;
        }
        margin-bottom: 10vh;
        @media all and (min-width: 750px) {
            margin: 0 8vw;
        }
    }
}

//#outer_contact_container form {
//    margin: 0 auto;
//    padding: 0 auto;
//}















