body {
  padding: 0;
  margin: 0;
  text-shadow: #010065 0 1px 1px;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Titillium Web", "Arial", "sans-serif";
  font-weight: 200;
  text-align: center;
  color: #151E3F;
}
body h1 {
  font-size: 9vw;
}
@media all and (min-width: 750px) {
  body h1 {
    font-size: 60px;
  }
}
body h2 {
  font-size: 7vw;
}
@media all and (min-width: 750px) {
  body h2 {
    font-size: 56px;
  }
}
body h3 {
  font-size: 6vw;
}
@media all and (min-width: 750px) {
  body h3 {
    font-size: 48px;
  }
}
body h4 {
  font-size: 5vw;
}
body h5 {
  font-size: 4vw;
}
@media all and (min-width: 750px) {
  body h5 {
    font-size: 32px;
  }
}
body h6 {
  font-size: 3vw;
}
@media all and (min-width: 750px) {
  body h6 {
    font-size: 24px;
  }
}
body p, body form {
  font-family: "Open Sans Condensed", "Arial", "sans-serif";
  font-size: 3vw;
  color: #030027;
}
@media all and (min-width: 750px) {
  body p, body form {
    font-size: 24px;
  }
}
body hr {
  margin: 4vh 0;
}

.section {
  margin-top: 20vh;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}
@media all and (max-width: 690px) {
  .section {
    margin-top: 10vh;
  }
}

#top_area_container {
  width: 100%;
  height: 50vh;
  border: none;
  background-color: #030027;
  background-repeat: no-repeat;
  background-size: 100%;
}
@media all and (min-width: 750px) {
  #top_area_container {
    height: 420px;
  }
}
#top_area_container h1, #top_area_container h3 {
  text-align: center;
  margin: 1vh 0;
  line-height: 1.1;
  color: #F2F3D9;
  text-shadow: #F2F3D9 0 1px 1px;
}
#top_area_container h3 {
  margin-top: 2vh;
}
#top_area_container .transparency {
  position: relative;
  top: 5vh;
  padding: 4vh auto 0 auto;
  margin: 0 auto 0 auto;
  min-height: 160px;
  width: 90vw;
  height: 40vw;
}

.portfolio_item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2vw;
}
.portfolio_item h3, .portfolio_item h5 {
  text-align: left;
}
.portfolio_item h3 {
  margin-top: 1vh;
  margin-bottom: 0;
}
.portfolio_item h5 {
  font-style: italic;
  margin: 0 0;
}
.portfolio_item img {
  margin-top: 1vh;
  width: 33vw;
  border: 1px solid #DC9E82;
  grid-column: 2/3;
}
.portfolio_item .text_description {
  grid-column: 1/2;
}

#work_experience_container {
  background-color: #030027;
  padding: 1vh 4vw 4vh 4vw;
}
#work_experience_container h3 {
  text-align: left;
  margin: 0 0;
}
#work_experience_container h2, #work_experience_container h3, #work_experience_container p {
  color: #F2F3D9;
}

#contact_me_container h2 {
  margin-bottom: 2vh;
}
#contact_me_container h6 {
  margin-top: 0;
}
#contact_me_container form {
  display: grid;
  grid-template-columns: 15vw 1fr;
  grid-gap: 2vw;
  width: 80vw;
  max-width: 660px;
  margin: 0 auto;
}
@media all and (min-width: 750px) {
  #contact_me_container form {
    grid-template-columns: 130px 500px;
    grid-column-gap: 14px;
  }
}
#contact_me_container label {
  grid-column: 1/2;
}
#contact_me_container input, #contact_me_container textarea, #contact_me_container button {
  grid-column: 2/3;
}
@media all and (min-width: 750px) {
  #contact_me_container input, #contact_me_container textarea {
    width: 500px;
    margin: 0 auto;
  }
}
#contact_me_container button {
  font-weight: 700;
  padding: 2vh 0 2vh 0;
  border: none;
  background-color: #C16E70;
  color: #F2F3D9;
  margin: 0 15vw;
  margin-bottom: 10vh;
}
#contact_me_container button:hover {
  background-color: #DC9E82;
  border: none;
  color: #F2F3D9;
}
@media all and (min-width: 750px) {
  #contact_me_container button {
    margin: 0 8vw;
  }
}

/*# sourceMappingURL=output.css.map */
